<div class="modal-header">
    <div class="col-xs-12 p-0">
        <div class="col-xs-8 p-0 pt-05">
            <h4 class="m-0">Ingrediente em uso</h4>
        </div>
        <div class="col-xs-4 p-0 text-xs-right">
            <div class="btn-bullet gray-dark float-right" ng-click="cancelar()" title="Configurações"><i class="material-icons">close</i></div>
        </div>
    </div>
</div>
<div class="modal-body">
    <p>O ingrediente {{ingrediente.nome}} está sendo utilizado no(s) produto(s) abaixo:</p>
    <div class="list-box no-border">
        <div ng-repeat="p in produtos">{{p.nome}}</div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-none" ng-click="cancelar()">Cancelar</button>
    <button class="btn btn-primary" ng-click="ok()">Desvincular e excluir</button>
</div>