// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin form-control-validation-custom($color) {
    // Color the label and help text
    .form-control-feedback, 
    .form-control-label,
    .form-check-label,
    .form-check-inline,
    .custom-control {
        color: inherit;
    }

    // Set the border and box shadow on specific inputs to match
    .form-control {
        border-color: $color;

        @if $enable-rounded {
            &:focus {
                box-shadow: $input-box-shadow, 0 0 1px lighten($color, 20%);
            }
        }
    }

    // Set validation states also for addons
    .input-group-addon {
        color: $color;
        border-color: $color;
        background-color: lighten($color, 40%);
    }
    .input-group-btn .btn {
        background-color: lighten($color, 75%);
        border-color: $color;
        color: $color;
    }
}