<breadcrumb ng-model="breadcrumb"></breadcrumb>
<div class="card scroll" ng-init="ctrl.initManutencao()" ng-style="styleCardBody">
    <div class="card-body">
        <div ng-if="onRequest" class="circular-loader"><div></div></div>
        <div class="col-xs-12 pt-1 pb-1 pl-sm-1 pr-sm-1 pl-xs-0 pr-xs-0">
            <div class="col-xs-12 p-0 text-xs-center">
                <h4 class="p-1 m-0">
                    Seja bem vindo ao sistema Garçom.
                    <br/>
                    <br/>
                    Vamos te auxiliar para que juntos possamos oferecer<br/>
                    um atendimento de primeira qualidade aos clientes
                </h4>
            </div>
        </div>
    </div>
</div>