// -----------------------------------------------------------------------------
// This file contains all styles related to the custom icons.
// -----------------------------------------------------------------------------

.custom-icons {
    display: inline-block;
    text-indent: -9999px;
    vertical-align: middle;

    &.align {
        &-center {
            margin: auto;
        }
    }

    &.size {
        /* Rules for sizing the icon. */
        &-18 { background-size: 18px 18px !important; height: 18px; width: 18px; }
        &-24 { background-size: 24px 24px !important; height: 24px; width: 24px; }
        &-36 { background-size: 36px 36px !important; height: 36px; width: 36px; }
        &-48 { background-size: 48px 48px !important; height: 48px; width: 48px; }
    }

    /* Imagens */
}
