// -----------------------------------------------------------------------------
// This file contains all styles related to the list-group.
// -----------------------------------------------------------------------------

.list-group {
    &.list-group-gray {
        .list-group-item {
            background-color: $gray-lightest;

            @include hover-focus { background-color: $gray-lighter; }
        }
    }
    
    &.list-group-borderless {
        .list-group-item {
            border-left: none;
            border-right: none;
            padding: 1rem 0 0 0;
            
            &:first-child { border-top: none; }
            &:last-child { border-bottom: none; }
        }
    }
}
