// -----------------------------------------------------------------------------
// This file contains all styles related to the tables.
// -----------------------------------------------------------------------------

.table {
    &.table-bordered-2 {
        tbody {
            tr {
                &.tr-subtitle:hover {
                    background: inherit;
                }
                
                td {
                    border-top: 1px solid $border-color;
                    border-bottom: 1px solid $border-color;

                    &:first-child { border-left: 1px solid $border-color; }
                    &:last-child { border-right: 1px solid $border-color; }
                }
            }
        }
    }
    
    &.fila-espera{
        
        tr{
            &:first-child{
                border-top:1px solid #ddd;
            }
            
            line-height:1.2rem;
        }
        
    }
}