<div class="modal-header">
    <div class="col-xs-12 p-0">
        <div class="col-xs-8 p-0 pt-05">
            <h4 class="m-0">{{titulo}}</h4>
        </div>
        <div class="col-xs-4 p-0 text-xs-right">
            <div class="btn-bullet gray-dark float-right" ng-click="cancelar()" title="Cancelar"><i class="material-icons">close</i></div>
        </div>
    </div>
</div>
<div class="modal-body text-center" ng-init="openDialog()">
    <input type="file" id="fileInput" img-cropper-fileread image="cropper.sourceImage" style="display: none" />

    <div style="display: table; margin: auto">
        <div style="{{'display: table; margin: auto; text-align: center; width: ' + width + 'px; height: ' + height + 'px'}}" ng-if="!cropper.sourceImage">
            <div style="display: table-cell; vertical-align: middle">
                Nenhuma imagem selecionada<br/>
                <button class="btn btn-primary pl-2 pr-2 mt-1" ng-click="openDialog()">Selecionar</button>
            </div>
        </div>
        <canvas ng-if="cropper.sourceImage"
                width="{{width}}"
                height="{{height}}"
                id="canvas"
                image-cropper
                image="cropper.sourceImage"
                cropped-image="cropper.croppedImage"
                crop-width="widthCrop"
                crop-height="heightCrop"
                keep-aspect="true"
                touch-radius="30"></canvas>

    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary pl-2 pr-2 float-left" ng-if="cropper.sourceImage" ng-click="openDialog()">Selecionar outra</button>
    <button class="btn btn-none" ng-click="cancelar()">{{cancelarMsg}}</button>
    <button class="btn btn-primary pl-2 pr-2" ng-click="ok()" ng-if="cropper.croppedImage">{{okMsg}}</button>
</div>